<h4>¡Hola! Bienvenid@ :)</h4>
<div>
    <form [formGroup]="myForm" (ngSubmit)="login()">
        <div>
            <input formControlName="email" type="email" placeholder="mi usuario" [ngClass]="{error :myForm.get('email').errors && myForm.get('email').dirty, inputForm: true}">
        </div>
        <!-- Validacion email -->
        <div *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
            <p *ngIf="myForm.get('email').hasError('required')">el campo es obligatorio</p>
            <p *ngIf="myForm.get('email').hasError('email')">debe ingresar un email valido</p>
        </div>
        <!-- fin validacion email -->

        <div>
            <input type="password" formControlName="password" placeholder="mi contraseña" [ngClass]="{error : myForm.get('password').errors && myForm.get('password').dirty, 
            warning : myForm.get('password').hasError('minlength'), inputForm: true}">
        </div>
        <!-- Validacion -->
        <div *ngIf="myForm.get('password').errors && myForm.get('password').dirty">
            <p *ngIf="myForm.get('password').hasError('required')">el campo es obligatorio</p>
            <p *ngIf="myForm.get('password').hasError('minlength')">debe tener al menos 6 caracteres</p>
        </div>
        <!-- Fin validacion password -->
        <button type="submit" mat-raised-button color="primary" [disabled]="myForm.invalid">Login</button>
    </form>
    <hr>

</div>
<small>¿No estás registrado?</small><br>
<button mat-stroked-button color="primary" routerLink="/registro">Registro</button>

